.articleMainBody{
    width: 1300px;
    min-height: 800px;
    margin: 250px auto 0 auto;
    box-sizing: border-box;
    border: 1px solid rgb(226, 226, 226);
}
.articleMainHeader{
    width: 1200px;
    height: 220px;
    margin: 20px auto;
    box-sizing: border-box;
    border-bottom: 1px  solid rgb(226, 226, 226);
}
.articleGo{
    width: 95%;
    margin: 10px auto;
    box-sizing: border-box;
     /* TestBackground */
     /* background-color: rgba(203, 163, 240, 0.31); */
}
.articleGo> span >a{
    color: #8e88ff;
    text-decoration:none;
   
}
.articleGo> span >a:hover{
    color: #ff6347;
}
.articleMainHeaderSubject{
    width: 95%;
    height: 90px;
    margin: 10px auto;
    padding-top: 20px;
    box-sizing: border-box;
    /* border: 1px solid rgb(226, 226, 226); */
    /* TestBackground */
    /* background-color: rgba(232, 216, 247, 0.31); */
}
.articleMainHeaderSubject >span{
    font-size: 2rem;
}
.articleSub{
    display: flex;
     /* TestBackground */
    /* background-color: #f9e9e677; */
}
.articleMainHeaderUserName{
    width: 30%;
    margin: 10px 0px 0px 30px;
    box-sizing: border-box;
     /* TestBackground */
     /* background-color: rgba(116, 54, 177, 0.31); */
}
.createdNumber, .hitCountNumber{
    width: 200px;
    display:block;
    color: rgb(176, 176, 176);
    font-weight: 500;
    font-size: 0.8rem;
}
.articleMainHeaderReply{
    width: 20%;
    height: 70px;
    margin: 10px 31px 0px 600px;
    line-height: 70px;
    text-align: right;
    box-sizing: border-box;
    /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.ContentBody{
    width: 90%;
    min-height: 500px;
    margin: 30px auto;
    /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.LikeBox{
    width: 90%;
    height: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(226,226,226);
    /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.fa-heart{
    margin: 0 10px 0 0;
    color: red;
    cursor: pointer;
    
}
.LikeHeart{
    margin: 0 15px 0 0;
}
.fullLikeHeart{
    width: 5px;
    height: 5px;
    display: none;
    position: relative;
    left: -187px;
    /* background-color: #ffffff; */
}
.fa-comments{
    margin: 0 10px 0 0;
}
.ReplySUb{
    width: 90%;
    height: 30px;
    margin: 10px auto;
    box-sizing: border-box;
    cursor: pointer;
    /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.ReplySUb>span{
    transition: 0.5s;
    border-radius: 5px;
}
.ReplySUb>span:hover{
   
    box-shadow: 0px 0px 15px  rgba(202, 164, 255, 0.529);
   
}
.ReplyList{
    width: 90%;
    height: 80px;
    margin: 10px auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(226,226,226);
    /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.ReplyAnswerBody{
    display: none;
    width: 100%;
    min-height:150px;
    margin: 0 auto;
    padding-left: 30px;
    box-sizing: border-box;
     /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */

}
.ReplyListUserX{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: rgb(136, 136, 136);
    text-align: center;
    position: relative;
    right: -1080px;
    top: -10px;
    line-height: 20px;
    border-radius:5px;
    transition: 0.4s;
    box-shadow: rgba(128, 128, 128, 0.53) 0px 0px 10px;
}
.ReplyListUserX:hover{
    background-color: #ff6347;
    color: white;
    cursor: pointer;
}
.ReplyAnswerContentBox{
    width: 90%;
    height: 190px;
    border-radius: 5px;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(226,226,226);
}
.ReplyAnswerContentBox>textarea{
    width: 100%;
    height: 70%;
    resize: none;
    display: block;
    border: none;
}
.ReplyAnswerContentBox>textarea:focus{
    outline: none;
}
.ReplyAnswer{
    width: 90%;
    height: 80px;
    margin: 10px auto;
    padding-left: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(226,226,226);
    /* TestBackground */
    background-color: rgba(245, 245, 245, 0.31);
}
.pagingBody{
    width: 100%;
    box-sizing: border-box;
   
     /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.pagingInnerBody{
   text-align: center; 
   box-sizing: border-box;
   
}
.pagingInnerBody >span{
    width: 20px;
    margin: 10px;
   
    display: inline-block;
    color: white;
    background-color: #262626;
    border: 1px solid rgb(226,226,226);
}
.pagingInnerBody >span:hover{
    
    border: 1px solid rgb(226,226,226);
    color: #262626;
    background-color: white;
}

.ReplyBody{
    width: 100%;
    min-height:150px;
    margin: 0 auto;
    /* TestBackground */
    /* background-color: rgba(222, 188, 255, 0.31); */
}
.ReplyContentBox{
    width: 90%;
    height: 200px;
    border-radius: 5px;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(226,226,226);
    /* TestBackground */
    /* background-color: rgba(130, 43, 218, 0.31); */
}
.ReplyListUserName{
    font-size: 13px;
    color:gray;
}
.ReplyListContent{
    font-size: 12px;
    font-weight: 400;
}
.dress-ReplyLike,.ReplyListdress-ReplyLike{
    padding: 5px;
    height:25px; 
    margin-left:10px;
    display: inline-block;
    float: right;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px  rgba(128, 128, 128, 0.529);
}
.fa-thumbs-up{
    margin: 0 5px;
    transition:0.5s;
    color: rgb(136, 136, 136);
}
.dress-ReplyLike:hover, .dress-ReplyLike:hover .fa-thumbs-up ,.ReplyListdress-ReplyLike:hover,.ReplyListdress-ReplyLike:hover .fa-thumbs-up{
    color: tomato;
   
}
.dress-ReplyDisLike:hover, .dress-ReplyDisLike:hover .fa-thumbs-up, .ReplyListdress-ReplyDisLike:hover ,.ReplyListdress-ReplyDisLike:hover .fa-thumbs-up{
	color: tomato;
}
.ReplyListDeleteButton,.ReplyListdress-ReplyDisLike{
	font-size: 12px;
    border: none;
    cursor: pointer;
    float: right;
    padding: 5px;
    height:25px; 
    float: right;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px  rgba(128, 128, 128, 0.529);
}
.dress-ReplyDisLike{
	padding: 5px;	
    height:25px; 
    display: inline-block;
    float: right;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px  rgba(128, 128, 128, 0.529);
}
.RelyWrite{
  	font-size: 12px;
    border: none;
    cursor: pointer;
 
    padding: 5px;
    height:25px; 
    
    font-weight: 400;
   
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px  rgba(128, 128, 128, 0.529);
}
.RelyWrite:hover,.Replydelete:hover{
    color: #ff6347;
}
.RelyWrite:focus,.Replydelete:focus{
    outline: none;
}
.Replydelete{
	font-size: 12px;
    border: none;
    cursor: pointer;
    float: right;
    padding: 5px;
    height:25px; 
    float: right;
    font-weight: 400;
   
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px  rgba(128, 128, 128, 0.529);
}

.ReplyAnswerContentUserName{
  position: relative;
  left: -25px;
}
.ReplyAnswerContentUserName{
    font-size: 0.8rem;
    font-weight: 400;
}
.ReplayListForm{
    display: none;
}
.ReplySUbDown{
    display: inline-block;
}
.ReplyContentBox>textarea{
    width: 100%;
    height: 70%;
    resize: none;
    display: block;
    border: none;
    /* TestBackground */
    /* background-color: rgba(130, 43, 218, 0.31); */
}
.ReplyContentBox>textarea:focus{
   outline: none;
}
.ReplyContentBox>textarea::placeholder{
    color: rgb(226,226,226);
}
.ReplySubmitButton{
 width: 101%;
 height: 20%;
 /* TestBackground */
 /* background-color: #ff6347; */
}
.Replybtn{
    width: 70px;
    height: 30px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    transition: 0.1s;
    color: rgb(136, 136, 136);
    background-color: white;
    box-shadow: 0px 0px 5px  rgba(128, 128, 128, 0.529);
}
.Replybtn:hover,#deleteButton:hover, #updateButton:hover{
background: rgb(174, 174, 174);
box-shadow: 0px 0px 15px  rgba(202, 164, 255, 0.529);
color: aliceblue;
}
.Replybtn:active{
transform: scale(0.9);
}
.Replybtn:focus{
outline: none;
}
#updateButton{
	width: 100px;
    height: 40px;
    transition: 0.5s;
   	float: right;
    font-size: 16px;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    border:none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  rgba(128, 128, 128, 0.529);
}
#deleteButton{
	width: 100px;
    height: 40px;
    float: left; 
    transition: 0.5s;
    font-size: 16px;
    color: rgb(136, 136, 136);
    background: rgb(255, 255, 255);
    border:none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  rgba(128, 128, 128, 0.529);
   
}
.dress-articleMainButtonBoxBody{
	width: 90%;
    height: 50px;
    margin: 30px auto;
    box-sizing:border-box;
    border-top: 1px solid rgb(226,226,226);
}

.dress-articleButtonBoxBody{
	width:250px;
	padding-top:20px;
	margin:0 auto;
	box-sizing:border-box;
}
.EmpathyBotton{
    width: 90%;
    height: 135px;
    padding-top: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid rgb(226,226,226);
}
.dress-thumbs-up{
    border-radius: 50%;
    transition: 0.5s;
    padding-top: 25px;
    cursor: pointer;
    width: 130px;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.529);
    background-color: white;
}
.dress-thumbs-up:hover{
    background: rgb(174, 174, 174);
    box-shadow: 0px 0px 15px  rgba(202, 164, 255, 0.529);
    color: aliceblue;
}
#DressLikeCount{
	display: block;
	font-size: 16px;
	padding-top: 10px;
	font-weight: 900;
}
.fa-thumbs-down{
	transform:rotate(180deg);
	
}
.Commnet{
	text-decoration:none;
	color:tomato;
	text-shadow:0px 0px 15px rgba(202, 164, 255, 0.53); '
}