.dress-Body{
	width: 1300px;
    margin: 0 auto;
}
.dress-MainBody{
    width: 100%;
    height: 1000px;
    margin: 50px 0 100px 0;
    padding-top: 100px;
    box-sizing: border-box;
    /* TestBackground */
    /* background-color: rgba(232, 216, 247, 0.31); */
}
.dress-paging{
    display: inline-block;
    
 
    height: 30px;
    margin: 0 auto 0 89%;
}
.dress-InnerBody{
    width: 95%;
    height: 80%;
    margin: 0 auto;
   
    box-sizing: border-box;
    /* TestBackground */
    /* background-color: rgba(158, 161, 244, 0.31); */
}
.dress-MainContent{
    width: 30%;
    height: 96%;
    margin: 10px 10px 10px 40px;
    padding: 5px;
    float: left;
  	border-radius:15px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(145, 145, 145, 0.769);
    /* TestBackground */
    /* background-color: rgba(166, 173, 255, 0.639); */
}
.dress-BestContentName{
    width: 100%;
    height: 150px;
    border-radius: 2px;
    line-height: 150px;
    text-align: center;
    box-sizing: border-box;
    /* TestBackground */
    /* background-color: #ff8c77c8; */
}
.dress-BestContentName > p{
    height: 30px;
}
.dress-BestContentName >span{
    font-size: 30px;
}
.fa-crown{
    width: 200px;
    color: #fad400;
    padding-right:75px;
}
.dress-Text{
    color: red;
}
.dress-BestContent{
    width: 100%;
    height: 50%;
    margin: 15px 0 15px 0;
    padding: 5px;
    text-align: center;
    border-radius:15px;
    box-sizing: border-box;
    /* TestBackground */
    /* background-color: #faa090c8; */
}
.dress-BestContent-InnerImage{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    box-shadow: 0px 1px 5px rgba(145, 145, 145, 0.769);
}
.dress-BestContentText{
    width: 100%;
    height: 15%;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    /* TestBackground */
    background-color: #fafaee;
}
.dress-subContent{
    width: 20%;
    height: 30%;
    margin: 10px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(145, 145, 145, 0.769);
    /* TestBackground */
    /* background-color: rgba(166, 173, 255, 0.639); */
}
.dress-subContent-InnerUserName{
    /* display: inline-block; */
    font-size: 9px;
    position: relative;
    /* bottom: -155px;
    left: -57px; */
    color: #9b9b9b;
    /* background-color: rgba(166, 173, 255, 0.639); */
}
.dress-subContent-InnerHitCount{
    display: inline-block; 
    font-size: 9px;
    font-size: 9px;
    position: relative;
    float:right;
 	clear:both;
    color: #9b9b9b;
    /* background-color: rgba(166, 173, 255, 0.639); */
}
.dress-subContent-InnerTags{
    display: block;
    font-size: 9px;
    font-size: 9px;
    position: relative;
    /* bottom: -155px;
    right: -70px; */
    color: #9b9b9b;
    /* background-color: rgba(166, 173, 255, 0.639); */
}
.dress-subContent-InnerTags a{
    text-decoration: none;
    color: rgb(74, 30, 230);
}
.dress-subContent-InnerImageInnerBox{
    width: 100%;
    box-sizing: border-box;
    margin: 7px auto 0 auto;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    font-size: 9px;
     /* TestBackground */
   
     box-shadow: -1px 0px 4px rgba(145, 145, 145, 0.769);
    /* background-color: #ff6347; */
}
.dress-subContent-InnerImage{
    width: 100%;
    height: 66%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    box-shadow: 0px 1px 5px rgba(145, 145, 145, 0.769);
    /* TestBackground */
    /* background-image: url("ff.jpeg"); */
    /* background-color: rgba(211, 218, 79, 0.639); */
}
.dress-subContent-InnerImage:hover{
    transform: scale3d(1.1, 1.1, 0.1);
    box-shadow: 0px 1px 30px rgba(194, 236, 255, 0.769);

}
.dress-subContent-InnerText{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    margin: 7px auto 0 auto;
    border-radius: 5px;
     padding: 2px 5px 0 5px;
    text-align: left;
    font-size: 9px;
     /* TestBackground */
   
     box-shadow: -1px 0px 4px rgba(145, 145, 145, 0.769);
}
.dress-subContent-InnerText>a{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    font-variant-caps: small-caps;
    font-size: 14px;
    text-decoration: none;
}
.dress-searchFormBody{
    width: 95%;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 5px;
     /* TestBackground */
     /* background-color: rgba(122, 126, 247, 0.31); */
}
.dress-searchBody{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
     /* TestBackground */
     /* background-color: rgba(250, 242, 150, 0.797); */
}
/* .dress-pagingNum{
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    line-height: 30px;
    border: 1px solid rgb(31,31,31);
    background-color: rgb(31, 31, 31);
    transition: 0.3s;
    text-align: center;    
}
.dress-pagingNum>a{
    color: white;
}
.dress-pagingNum:hover{
    border: 1px solid rgb(31,31,31);
    background-color: red;
} 
.dress-pagingNum:hover.dress-pagingNum>a{
    color: rgb(31, 31, 31);
    transform: scale(1.1);
    font-size: 18px;
}  */
.dress-Resetbtn{
    width: 70px;
    border: none;
   
}
.dress-Selectbtn{
    margin-left: auto;
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: #ededed;
    padding-left: 10px;
}
.dress-Selectbtn:focus{
    outline: none;
    background-color: #ededed;
    box-shadow: 0px 1px 15px rgba(95, 172, 255, 0.769);
}
.dress-Search{
    width: 25%;
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #ededed;
}

.dress-Search:focus{
    outline: none;
    background-color:white;
    box-shadow: 0px 1px 15px rgba(95, 172, 255, 0.769);
}
.dress-Searchbnt{
    width: 70px;
    border: none;
}
.dress-Createdbtn{
    margin-left: auto;
    width: 70px;
    border: none;
}
.dress-Btn{
    background-color: #ededed;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.dress-Btn:hover{
    background-color: #bdbdbd;
}
.dress-Btn:focus{
    outline: none;
}
.dress-Btn:active {
    transform: scale(0.7);
    margin-top: 5px;
}
.dress-img{
	width: 100%;
	height:100%;
	border-radius: 5px;
	
}


