@charset "UTF-8";

.main-content-container {
	width: 1300px;
	height: 1000px;
	margin :0 auto;
/* 	background-color: gray; */
	display: flex;
}

/****************
	마이페이지 왼쪽
*****************/
.mypage-left {
	width: 40%;
	height: 100%;
/* 	background-color: yellow; */
	/*float: left;*/
}

.mypage-left-container {
	width:90%;
	height:60%;
	margin:35% auto;
	border: 3px solid #ececec;	
	border-radius: 10px;
}

.profile-image {
	width: 100%;
	height: 45%;
	padding : 10% 0 0 0;
/* 	background-color: tomato; */
	/*float: clear;*/
	/*float: left;*/
}

.profile-image-box {
    margin : 0 auto;
    padding : 5%;
    width : 40%;
    height : 65%;
    border-radius : 100%;
/*     background-color:beige; */
    background-image: url("");
}

.userImage {
/* 	width: 20%;
	height: 20%; */
}

.profile-userBasicInfo {
	width: 100%;
	height: 30%;
	text-align:center;
/* 	background-color: skyblue; */
}

.profile-userName {
	font-size: 1.8em;
}

.profile-follow {
	margin : 4% 0 10% 0;
}

.profile-follow > span > a{
    color: rgb(45, 45, 45);
    font-size: 1.0rem;
    /* font-weight: 900; */
    transition: 0.6s;
}
.profile-follow > span > a:hover{
    color: tomato; 
}

.profile-like {
	width: 100%;
	height: 15%;
/* 	background-color: orange; */
	text-align: center;
}

.profile-center .btn-default {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	color: #444;
	background-color: #fff;
	padding: .6em 1.4em .5em .8em;
	margin-bottom: 20px;
	height: 45px;
	box-sizing: border-box;
	border: 2px solid #ababab;
	border-radius: .5em;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	transition: all .5s ease-in-out;
}

.profile-center .btn-default:focus {
	box-shadow: 2px 2px 1px #848484;
	border: 2px solid #848484;
	background-color: white;
	outline: none;	
}

.profile-center .btn-default:hover {
	box-shadow: 2px 2px 1px #848484;
	border: 2px solid #848484;	
}
/****************
	마이페이지 오른쪽
*****************/
.mypage-right {
	width: 60%;
	height: 100%;
/* 	background-color: pink; */
	border-left:6px double gray;
}

.mypage-right .heading{
	/* margin-top:0; */
}

.mypage-contents {
	width: 100%;
	height: 60%;
	box-sizing:border-box;
	padding: 3rem;

/* 	background-color: lime; */
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.mypage-content-item {
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}

.mypage-content {
/*     background-color:palevioletred;	 */
    width:10rem;
	height:10rem;
	margin:0.5rem;
}

.mypage-content-item .hexagon {
 	margin: 2rem;
} 

.items {
	width: 55px;
	height: 55px;
}

.hexagon {
	width: 100px;
	height: 55px;
	background: #ececec;
	position: relative;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #ececec;
}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #ececec;
}

.hexagon:hover,.hexagon:before:hover, .hexagon:after:hover {
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100px;
	height: 55px;
	position: relative;
	
	font-weight: 700;
	color: #444;
	background-color: #ffeaea; 
	margin-bottom: 27px; 
	box-sizing: border-box;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	transition: all .5s ease-in-out;
}

.mypage-content-item:hover {
/* 	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100px;
	height: 90px;
	position: relative;
	top:0.2rem;
	
/* 	background-color: #ffeaea;  */
/* 	margin-bottom: 20px; */
	box-sizing: border-box;
	box-shadow: 0 2px 0 1px rgba(0, 0, 0, .08);
	transition: all .5s ease-in-out; */
}

.mypage-recent {
	width: 100%;
	height: 35%;
	background-color: maroon;
}

/****************
	마이페이지 오른쪽 : 내 정보 수정시
*****************/
.mypage-right-update {
	
}

.updateF {
	
}