@charset "UTF-8";
.loginMainBody{
    width:100%;
    height:500px;
    margin: 0px auto;
    position: relative;
    z-index: -9999;
    border-radius: 5px;
    /* TestBackground */
    /* background-color: rgb(208, 132, 132); */
}
.slideshow-container{
    width: 100%;
    height: inherit;
    border-radius: 5px;
    /* background-color: #ff6347; */
}
.slide{
    display:none;
    width: 100%;
    height: inherit;
    border-radius: 5px;
     /* TestBackground */
    background-size: contain;
}
.slide1{
    background-image: url("../images/home/back7.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -1400px;
}
.slide2{
    background-image: url("../images/home/back3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

.slide3{
    background-image: url("../images/home/back4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -200px;
}


.categories-Recommendation1{
    width: 1600px;
    height: 800px;
    border-radius: 5px;
    box-sizing: border-box;
    margin:5rem auto;
    padding: 20px;
    transition: 1s;
    /* background-color: rgba(210, 191, 191, 0.445); */
}

.categoriesName{
    width: 700px;
    height: 70px;
    padding-top : 15px;
    text-align: left;
    line-height: 50px;
    box-shadow: inset 8px 2px rgb(99 99 99);    
}
.categoriesName > span{
    margin-left : 5rem;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
/*      font-family: 'Raleway', sans-serif; */
    text-shadow : 2px 2px 2px #9b9b9b;
}

.categories-content{
    width: 95%;
    height: 85%;
    margin: 30px auto;
    border-radius: 5px;
    transition:1s;
/*     background-color: #ff634768; */
}
.categories-content:hover{
    width: 100%;
    height: 90%;
}

/*방구할래....*/
.backimg{
    background-image: url("/app/resources/images/home/mainback4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -300px;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px gray;
}

.backimg:hover{
	box-shadow: 0 0 20px gray;
}
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1361 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 95%;
  max-width: 315px;
  width: 95%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  margin: 10px;
  box-shadow: 0 0 20px gray;
}

.snip1361 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1361 img {
  width:100%;
  max-width: 100%;
  height:25em;
  vertical-align: top;
}
.snip1361 figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  height:500px;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
  margin: 0 0 10px;
}
.snip1361 h3 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.7em;
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
}
.snip1361 p {
  font-size: 1.2em;
  font-weight: bold;
  color:gray;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1361 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
  top: 80px;
}


/*----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);
figure.snip1432 {
  font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 95%;
    max-width: 315px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: left;
    height: 21em;
    box-shadow: 0 0 20px gray;
}
figure.snip1432 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1432 img {
  opacity: 0.8;
  width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1432 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1432 figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
figure.snip1432 h2,
figure.snip1432 h3 {
  margin: 0;
  position: absolute;
  left: 0;
  padding: 0 30px;
  text-transform: uppercase;
}
figure.snip1432 h2 {
  font-weight: 900;
  top: 0;
  font-size: 3em;
}
figure.snip1432 h3 {
  font-size: 2em;
  bottom: 0;
  font-weight: 500;
}
figure.snip1432 h3:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}
figure.snip1432 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1432:hover img,
figure.snip1432.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1432:hover figcaption h3:first-of-type,
figure.snip1432.hover figcaption h3:first-of-type {
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  opacity: 0;
}
figure.snip1432:hover figcaption h3:nth-of-type(2),
figure.snip1432.hover figcaption h3:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
video{
    display:inline-block;
    width: 890px;
    height:470px;
    box-shadow:1px 1px 20px black;
}
.weatherImg{
    /* /app/resources/images/dress/ */
    background-image: url("/app/resources/images/dress/weather1.jpg");
    width: 540px;
    height:304px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 928px;
    top:-464px;
    box-shadow:1px 1px 20px black;
    transition: 1s;
    border-radius:5px;
    
}
.weatherImg2{
    background-image: url("/app/resources/images/dress/weather3.jpg");
    width:329px;
    height:185px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top:-364px;
    right:-1000px;
    box-shadow:1px 1px 60px black;
    transition: 1s;
    border-radius:5px;
}
.clothesImg{
    background-image: url("/app/resources/images/dress/clothes1.jpg");
    width:484px;
    height:300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top:-664px;
    right:0;
    box-shadow:1px 1px 20px black;
    transition: 1s;
    border-radius:5px;
}
.clothesImg2{
    background-image: url("/app/resources/images/dress/clothes2.jpg");
    width:375px;
    height:250px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top:-904px;
    right:-600px;
    box-shadow:1px 1px 60px black;
    transition: 1s;
    border-radius:5px;
}

.categories-content:hover .clothesImg2{
   transform:scale(1.1);
   position: relative;
    top:-864px;
    right:-700px;
}
.categories-content:hover .clothesImg{
   transform:scale(1.1);
   position: relative;
   top:-664px;
    right:-70px;
}
.categories-content:hover .weatherImg{
   transform:scale(1.1);
   position: relative;
    left: 828px;
    top:-364px;
}
.categories-content:hover .weatherImg2{
   transform:scale(1.1);
   position: relative;
    right: -1228px;
    top:-364px;
}




