*{
    margin: 0;
    padding: 0;
}
#mainBody{
    max-width: 1700px;
    min-height: 1900px;
    margin: 30px auto;
    
    /* 확인용 background */
    /* background-color: rgba(189, 189, 189, 0.18); */
}
header{
    height: 200px;
    margin: 20px auto 0;
    box-sizing: border-box;
    display: flex;
    /* 확인용 background */
    /* background-color: rgba(189, 189, 189, 0.536); */
}
.Logo{
    width: 100%;
    text-align: center;
    

    /* 확인용 background */
    /* background-color: rgba(0, 255, 255, 0.283); */
}
.LogoName{
    font-size: 50px;
    text-decoration: none;
}
/* .logout_logo {
	display: inline-block;
	width: 180px;
	height: 160px;
    background: url("../images/layout_logout/hollo_y.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.headerText{
    padding: 30px;
    box-sizing: border-box;
    line-height: 60px;
    margin: 0 auto;

    확인용 background
    background-color: rgba(127, 255, 212, 0.344);

} */
.logout_logo {
	display: inline-block;
	width: 180px;
	height: 160px;
    background: url("../images/layout_logout/hollo_y.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0 auto;
}
#section1{
    width: 100%;
    height: 1000px;
    margin: 0 auto 30px;
    /* background-color: rgba(127, 255, 212, 0.344); */
}

.section1Image{
    width: 100%;
    height: 100%;
    background-image: url("../images/layout_logout/main_7.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 70%;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    
    /* background-color: red; */
}
.textBox{
    font-family: 'Noto Sans KR', sans-serif;
    width: 50%;
    display: none;
    position: relative;
    top: 40px;
    left: 70px;
    /* background-color: red; */
  
}
.textBox h1 {
    font-size: 3rem;
}
.textBox h2{
    font-size: 2rem;
}
.textBox h3{
    font-size: 1.5rem;
}

.maintexttop {
	padding-top:60px;
}
.textBox h2, .textBox h3, .textBox h4, .textBox h1 {
	padding-bottom: 30px;
}
#section2{
    width: 100%;
    height: 700px;
    display: none;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
     /* 확인용 background */
     /* background-color: rgba(211, 152, 237, 0.707); */
}
.article1, .article2{
    width: 100%;
    display: flex;
    margin: 0 auto; 
}
.contentUp, .contentDown{
    min-width: 30%;
    height: 350px;
    margin: 30px auto;
    box-sizing: border-box;
    border-radius: 25px;
   
    /* 확인용 background */
    /* background-color: rgba(152, 237, 225, 0.707); */
}
.contentInner{
    height: 330px;
    margin: 10px auto;
    border-radius: 25px;
    background-color: rgba(130, 130, 130, 0.454); 
    transition: 1s;
}
.contentInner:hover{
    transform: scale(1.2);
}
.login{
    width: 300px;
    height: 50px;
    margin: 200px auto 100px;
    border-radius: 25px;
}
.logoutbtn {
    width: 250px;
    height: 100%;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    bottom: 40px;
    border: none;
    background-color: rgba(220, 219, 219, 0.652);
    transition: 0.3s;
    margin-left: 25px;
    font-weight: 800;
    
    
}
button[type="button"]:hover{
    
    color: rgb(249, 188, 96);
}
button[type="button"]:focus{
    outline: none;
}
button[type="button"]:active{
    margin-top: 10px;
    transform: scale(0.8);
    background-color: rgba(196, 196, 196, 0.652);
}

/* -------------mediaquery Start----------- */
@media ( max-width :700px) {
	article {
		display: block;
	}
	.contentUp {
		width: 300px;
		height: 300px;
		padding: 20px;
	}
	.contentInner {
		width: 250px;
		height: 230px;
	}
}

/*---------------------------------- footer start              */
footer{
    max-width: inherit;
    height: 300px;
    
     /* TestBackground */
     /* background-color: rgb(166, 146, 186); */
}
footer a{
	text-decoration: none;
	color: gray;
}
.footerBox{
    width: 1180px;
    height: 200px;
    margin: 0 auto;
   
    /* TestBackground */
   /* background-color: aqua;  */
}
.innerfooterBox{
    width: inherit;
    padding-top:50px;
    
    /* TestBackground */
    /* background-color: bisque; */
}
.footerUl1 , .footerUl2 , .footerUl3{
    width: inherit;
    height: 40px;
    color: rgb(92, 92, 92);
    text-decoration: none;
    list-style: none;
    display: flex;
    /* TestBackground */
     /* background-color: rgba(157, 191, 191, 0.728);  */

}
.footerUl1 a {
	font-weight: 700;
}
.footerUl1 li a:last-child{
    color: tomato;
}

.footerUl2 li{
        font-size: 15px;
        margin-top: 20px;
        
        
     /* TestBackground */
     /* background-color: rgba(157, 191, 191, 0.728);  */
}
li >span{
    margin: 20px;
}
.footerUl3{
    width: 500px;
 /* TestBackground */
 /* background-color: rgba(157, 191, 191, 0.728); */
}
.footerUl3 li{
    width: 200px;
  
    /* TestBackground */
    /* background-color: aqua; */
}