@charset "UTF-8";

.challengeArticle ul {
    list-style: none;
}
.challengeArticle {
    width: 1200px;
/*     background: #F9F6F3; */
    margin: 100px auto;
    padding-bottom: 20px;
    font-family: 'Do Hyeon', sans-serif!important;
} 
/* 제목부분 */
.articleHeader {
    width: 1100px;
    min-height: 100px;
    margin: 0 auto;
    /* background: yellow; */
    border-bottom: 3px solid rgb(85, 85, 85);
    padding-bottom: 20px;
    
}
.headertitle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 40px;
}
.headertitle span{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: normal;
}
.hollotext {
    float: left;
}
.haru {

}
.hrr {
    width: 100%;
    height: 8px;
    background: black;
    box-sizing: border-box;
}
.charsubject {
/*     background: sandybrown; */
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.subnamediv {
    font-size : 25px;
    font-weight: 800;
    width: 800px;
    /* background: violet; */
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.subnamediv span{
    font-family: 'Do Hyeon', sans-serif!important;
}
.namediv {
    /* background: turquoise; */
    margin: 0 auto;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
}
.namediv span {
    position: relative;
    z-index: 1;
    font-family: 'Do Hyeon', sans-serif!important;
    
}
.mitgul {
    width: 700px;
    height: 20px;
    background: rgba(204, 204, 204, 0.753);
    border-radius: 100px 0 100px 0;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
    /* z-index: -1; */
}
/*  바디부분(동영상 + 설명) */
.articleBody {
/*     background:#DCEAEC; */
    width: 1100px;
    margin: 5px auto 0;
    border-top: 3px solid rgb(85, 85, 85);
}
    /* 동영상 */
.videodiv {
    width: 1100px;
    height: 600px;
    background: steelblue;
    margin-top: 50px;
    box-sizing: border-box;
}
    /* 챌린지 설명 겸 소개 */
.intro {
    width: 1100px;
    /* background: slateblue; */
    text-align: center;
    margin: 50px auto 0;
    text-align: center;
}
.introtext {
    width: 400px;
    font-size: 40px;
    font-weight: 700;
    background: rgb(68, 68, 68);
    margin: 0 auto;
    color: white;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}
.introtext img {
	width: 45px;
	height: 40px;
}
.introtext span {
    font-family: 'Do Hyeon', sans-serif!important;
    font-weight: 300;
}
.introbox {
    width: 100%;
    min-height: 200px;
    position: relative;
    border: 4px solid  rgb(68, 68, 68);;
    top: -30px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 20px;
}
.introboxtext {
    color: black;
    font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
}
/*  챌린지 달력 */
.articleChallenge {
    width: 1100px;
    margin: 50px auto 90px;
    font-family: 'Do Hyeon', sans-serif!important;
}
.dalbox {
    width: 100%;
    box-sizing: border-box;
}
.chaul {
    width: 1000px;
    margin: 0 auto;
/*     background:#DCEAEC; */
}
.chali {
    width: 185px;
    height: 200px;
    /* background: turquoise; */
    display: inline-block;
    margin: 0 5px;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Do Hyeon', sans-serif!important;
}
.chaliday {
    width: 100%;
    height: 15%;
    background: #f3c04ac7;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
.chaliday span {
    font-family: 'Do Hyeon', sans-serif!important;
}
.chalicontent {
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    margin-top: 5px;
    background: white;
    box-shadow: 0px 5px 10px 2px slategrey;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.chalicontent p {
   font-family: 'Do Hyeon', sans-serif!important;
   margin-top: 30px;
}

/* 도전버튼 */
.gobut { 
    width: 1200px;
    margin : 50px auto;
}
.gobutton {
    width: 1100px;
    height: 60px;
    background: #726658;
    margin: 0 auto;
}
.gobtngo {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 800;
    color: #F9F6F3;
/*     text-decoration: underline; */
    cursor: pointer;
}
.h-listButton {
    width: 100px;
    height: 35px;
    margin-right: 80px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    outline: none;
    float: right;
    font-weight: 800;
    box-shadow: 5px 5px 5px 2px rgba(56, 55, 55, 0.425);
    margin-top: 8px;
}
.h-adminButton {
    width: 100px;
    height: 35px;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    outline: none;
    float: right;
    font-weight: 800;
    box-shadow: 5px 5px 5px 2px rgba(56, 55, 55, 0.425);
    margin-top: 8px;
}
.h-articlelistButton {
    width: 130px;
    height: 35px;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    outline: none;
    font-weight: 800;
    float: right;
    box-shadow: 5px 5px 5px 2px rgba(56, 55, 55, 0.425);
    margin-top: 8px;
}


.h-adminButton:active {
    transform: scale(0.98);
    box-shadow: none;
}
.h-articlelistButton:active {
    transform: scale(0.98);
    box-shadow: none;
}
.h-listButton:active {
    transform: scale(0.98);
    box-shadow: none;
}
/* 완료버튼 */
.okbtn {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background: white;
    outline: none;
    font-weight: 800;
    box-shadow: 5px 5px 5px 2px rgba(56, 55, 55, 0.425);
    margin-top: 5px;
    cursor: pointer;
}
.okbtn:active {
    transform: scale(0.98);
    box-shadow: none;
}
/*모달*/
.hidden {
  display:none;
  visibility:hidden;
}


/* 버튼으로 사용할 라벨 디자인 */
.button {
  font-size:19px;
  font-weight:600;
  vertical-align:middle;
  cursor:pointer;
}

/* 모달 윈도우 디자인 */
.box_modal {
  position:fixed;
  display:block;
  width:500px;
  height:300px;
  top:45%;
  left:45%;
  margin-top:-75px;
  margin-left:-150px;
  background:#f3c04ac7;
  border:1px solid #386980;
  overflow:hidden;
  /* 아래 부분은 애니메이션 효과를 위한 부분 */
  visibility: collapse;
  opacity: 0.9;
  filter: alpha(opacity=60);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  box-sizing: border-box;
}
.box_modal:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* 닫기 버튼으로 사용할 라벨 */
.closer {
  position:absolute;
  width:30px;
  height:30px;
  top:0;
  right:0;
  background:#eee;
  border-left:1px solid #386980;
  border-bottom:1px solid #386980;
  text-align:center;
  line-height:26px;
  font-size:16x;
  cursor:pointer;
}
.text {
  display:inline-block;
  text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.text h3 {
  font-size:25px;
  margin:0;
  padding-bottom: 20px;
}
.text p {
  font-size:15px;
}

/* 모달 윈도우가 팝업되는 코어 소스 */
input#modal[type=checkbox]:checked ~ .box_modal {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
