@charset "UTF-8";

}
a {
	text-decoration: none;
	color: black;
}
/*  -------------오늘 영양제 리스트  */
.supplement-body {
    /* background: #ccc; */
    margin: 0 auto;
    
    
}
.supplement-top {
    width: 100%;
    height: 600px;
    background-image:url("../../images/health/gray_m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
/*     background-position: center -300px; */
	background-position : center;
	margin: 0 auto;
}
.top-text-all {
	width: 1200px;
	height : 600px;
	margin: 0 auto;
	padding-left: 10px;
    box-sizing : border-box;
    position: absolute;
    top: 350px;
    left: 10%;
}
.top-title {
    padding-bottom: 20px ;
    width: 100%;
}
.top-text {
    width: 100%;
}
.top-title span{
	color: white;
	font-size : 45px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
/* 	text-shadow: 4px 4px 7px gray; */
}
.top-text span{
	color: white;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
}
.supplement-content {
    width: 1200px;
    /* background: wheat; */
    margin: 0 auto
}
/* 베스트 */
.supplement-best {
    width: 100%;
    text-align: center;
}
.title-best {
    margin-top: 80px;
}
.title-best h2 {
	font-size: 30px;
}

.content-best {
    width: 1180px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 100px;
}
.s-best { 
    width: 270px;
    height: 400px;
    /* background: turquoise; */
    margin-right: 30px;
}
.best-top {
    width: 270px;
    background: yellow;
}
.best-bottom {
    width: 270px;
    /* background-color: teal; */
    position: relative;
    top: 300px;
    margin-top: 10px;
}
.best-num {
	width: 50px;
	height: 50px;
	background: #f3c04ac7;
	font-size: 20px;
	line-height: 50px;
	border-radius: 0 0 20px 0;
	position: absolute;
/* 	color: rgb(219, 219, 219); */
}
.best-num-span {
    position: relative;
    left: 0;
    top: 0;
    font-weight: 900;
}
.best-image {
    /* background: yellow; */
    width: 270px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    cursor: pointer;
}
.best-imageFile {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
}
.best-subject {
    width: 100%;
    /* background: wheat; */
    height: 30px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 700;
    /* border-bottom: 1px solid #ccc; */
    position: relative;
}
.best-user {
    width: 100%;
    /* background:yellowgreen; */
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.best-count {
    width: 100%;
    /* background: tomato; */
    height: 30px;
}
.count-count {
    padding-left: 10px;
}
/* 게시판  - title */
.supplement-bbs { 
    margin-top: 50px;
    margin-bottom: 80px;
    width: 1200px;
    /* background: tomato; */
    text-align: center;
    
}
.pagediv {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 10px;
}
.supplement-table {
    width: 1000px;
    margin: 0 auto;
    border-collapse:collapse;
}
.s-thead { 
    background: #fbfbfb;
}
.s-thead tr {
    border-top: 1px solid black;
    border-bottom:  1px solid #dbdbdb;
    height: 35px;
}
.pagetr {
	text-align: left;
}
/* 게시글 비율 */
.s-table-num {
	width: 10%;
}
.s-table-sub {
	width: 43%;
}
.s-table-date {
	width: 15%;
}
.s-table-user {
	width: 15%;
}
.register_date {
	width: 10%;
}
.s-table-count {
	width: 10%;
}

/*글리스트 */
.s-body-tr td {
	font-weight: 100;
}
.s-tbody tr{
    border-bottom:  1px solid #dbdbdb;
    height: 35px;
}
.s-subject{
    text-align: left;
}
.supplement-paging {
    margin-top: 20px;
}
.supplement-bbs-search {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #f7f7f7;
    text-align: center;
    height: 60px;
    width: 1000px;
    margin: 50px auto 0;
    line-height: 60px;
    display: flex;
}
.search-reset {
    width: 50%;
    text-align: left;
}
.reset { 
    margin-left: 20px;
    width: 90px;
    height: 35px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.search-select-box { 
    width: 50%;
    text-align: right;
    margin-right: 20px;
}
.sup-bbs-input {
    height: 35px;
    width: 230px;
    border: 1px solid #e8e8e8;
    padding-left: 8px;
}
.sup-bbs-btn {
    width: 90px;
    height: 35px;
    border: none;
    background: rgba(27, 27, 27, 0.692);
    color: #e8e8e8;
    border-radius: 6px;
}
.sup-bbs-select {
    height: 35px;
    width: 100px;
    border: 1px solid #e8e8e8;
}
/* 플로팅 */
.floating-write {
    width: 150px;
    height: 150px;
    background: #f3c04ac7;
    border-radius: 50%;
    text-align: center;
    position : absolute;
    right: 70px;
    bottom: 50px;
    cursor: pointer;
}
.floating-write.on {
  position: absolute;
  bottom: 350px;
}
.floating-write:hover {
	background: #be9229da;
}
.f-div {
    padding-top: 25px;
}
.f-div p{
    font-size: 17px;
    font-weight: 700;
    margin-top: 5px;
}
.floating-image {
    width: 50px;
    height: 50px;
    background-image :url("../../images/health/vitamin.png");
    background-repeat : no-repeat;
    background-size: contain;
    margin: 0 auto;
}