@charset "UTF-8";


/* roomlist */

* {
	margin:0; padding:0;
}

.body-container {
    clear:both;
    box-sizing: border-box;  /* padding과 border는 크기에 포함되지 않음 */
    margin: 0px auto 15px;
    min-height: 500px;
    padding-top: 20px;
}

hr {
  border:0.1px solid #ccc;
}

.searchlist{
	background: #e4e4e4;
	height: 130px;
	
}



.lbl {
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	color: #999999;
	font-size: 10pt;
}

.searchTF {
	width: 200px;
	height: 20px;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #999999;
	color: #333333;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	border-radius: 4px;
}

.searchTF:focus{
	border: 1px solid #ff8000;
}
.searchbtn{
	font-size: 15px; 
	border:none;
	background:#d7def7;
	width: 60px;
	height: 35px;
	border-radius:4px;
	color: #000;
}

.searchbtn:hover, .btn:hover {
	background:#a7b7ed;
}

.btn{
	font-size: 15px; 
	border:none;
	background:#d7def7;
	width: 100px;
	height: 35px;
	border-radius:4px;
	color: #000;
	margin: 10px;
}


.mainexplain{
	width: 100%;
	height: 30px;
	
}

.listTd{
	margin:5px;
	width:220px;
	padding: 10px;
	align-items: center;
	border: 1px solid #808080;
}

.listTd:hover{
	box-shadow: 10px 10px 20px #c0c0c0;
}

.roomlist{
	width:100%;
	margin: 30px auto 30px;
}

.toplist{
	width:100%;
	height: 200px;
	margin: 10px auto;
}

.toplistTd{
	padding: 3px;
}

.topimg_box{
	background-position: center;
	background-size:cover;
	background-position:center; 
	width:230px;  
	height: 130px; 
	border:2px solid silver;
}

.topimg_box:hover{
	box-shadow: 10px 10px 20px #c0c0c0;
}

.banner{
	width: 100%;
    height: 600px;
    background-image: url(../../images/room/roomlistmainimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -300px;
    background-position: center;
    margin: 0 auto;
}

.createdbtn{
	align-items: right;
	font-size: 30px; 
	font-weight:bold;
	border:none;
	background:#d7def7;
	width: 300px;
	height: 70px;
	border-radius:4px;
	color: #000;
	margin-left: 70%;
	margin-top: 350px;
}
.createdbtn:hover{
	background:#a7b7ed;
	
}






/* roomchecklist */

.body-containercheck{
	width:1500px;
	clear:both;
    box-sizing: border-box;  /* padding과 border는 크기에 포함되지 않음 */
    margin: 0px auto 15px;
    min-height: 500px;
	
}


.listname{
	width: 400px;
	height: 40px;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #999999;
	color: #333333;
	margin:250px 0 0 0;
	font-size: 20px;
	border-radius: 4px;
	text-align: center;
}

.listname:focus{
	border: 1px solid #ff8000;
}

.checklist{
	background-image: url("../../images/room/checklistimg.png");
	background-position: center;
	background-size:cover;
	background-position:center; 
	width:100%; 
	height: 1500px;
	margin-bottom: 100px;
}


.listdiv{
	height: 1300px;
	width: 610px;
	margin-left: 230px;
	margin-top: 10px;
}

.listTable{
	width: 750px;
	font-size: 20px;
}

.checkbox{
	transform : scale(1.7);
}
.radio{
	transform : scale(1.7);
}

.bottonbtn{
	font-size: 15px; 
	border:none;
	background:#d7def7;
	width: 150px;
	height: 50px;
	border-radius:4px;
	color: #000;
	margin: 10px;
}



.mylistbtn{
	font-size: 15px; 
	border:none;
	background:#d7def7;
	width: 130px;
	height: 40px;
	border-radius:4px;
	color: #000;
	margin: 10px;
}

.bottonbtn:hover{
	background:#a7b7ed;
}

.toptitle{
	width: 900px; 
	margin: 0px auto; 
	padding-left:130px; 
	padding-top: 100px;
	font-size: 30px;
	color: gray;
}

.toptitleP{
	padding:20px;
	 width: 750px;
	 height: 50px;
}
.toptitleP:hover{
	box-shadow: 0 0 20px #c0c0c0;
}

.mylisttit{
	border: 5px solid #c0c0c0;
	color: #808080;
	font-size: 20px;
	padding: 5px;
}

.rightdiv:hover{
	box-shadow: 0 0 2px #c0c0c0;
}

.memoimg{
	background-image: url("../../images/room/postitimg.png");
	background-position: center;
	background-size:cover;
	background-position:center; 
	width:100px; 
	height: 100px;
	padding: 50px 0 0 20px;
}















/*roomCreated*/
.createdtoptitleP{
	width: 900px; 
	margin: 0px auto; 
	padding-left:140px; 
	padding-top: 100px;
	font-size: 25px;
	color: gray;
}

.acc:hover{
	box-shadow: 0 0 20px #c0c0c0;
	background: #ffeb5e;
}

.addrbtn{
	font-size: 15px; 
	border:none;
	background:#ffeb5e;
	width: 100px;
	height: 35px;
	border-radius:4px;
	color: #000;
	margin: 10px;
}

.addrbtn:hover, .roomCreatedbtn:hover{
	background:#ffad15;
}

.roomboxTF{
	width: 200px;
	height: 20px;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #999999;
	color: #333333;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	border-radius: 1px;
}

.roomCreatedbtn{
	font-size: 20px; 
	font-weight:bold;
	border:none;
	background:#ffeb5e;
	width: 150px;
	height: 50px;
	border-radius:4px;
	color: #000;
	margin: 10px;
}

		/*상세 정보 입력 창*/
.add-table tr > th{
	background: #eee;
	width: 100px;
	padding: 10px 10px 10px 10px;
}

.i-gray{
	width:500px;
	background: #eee;
	margin: 10px 0 10px 10px;
	padding: 5px;
}

.description{
	width: 800px;
	height : 130px;
	margin: 10px 0 10px 10px;
	resize: none;
}

.add-table input[type=text], .add-table select{
	margin-left: 10px;
}
.add-table input[type=checkbox]{
	margin: 10px 0 10px 0;
}
.i-options, .has-col, .size, .floor, .elev{
	padding-left: 10px;
}

.fc-red1{
	color:red;
	font-size: 13px;
}
.imagePreView {
   margin-top: 50px;
   /*border:1px solid gray;*/
   box-sizing: border-box;
}
.imagePreView img{
   width:300px; 
   height:150px;  
   box-sizing: border-box;
}













/*article*/

/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}


#wrapper{
  width:600px;
  margin:50px auto;
  height:400px;
  position:relative;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;  
}

#slider-wrap{
  width:600px;
  height:400px;
  position:relative;
  overflow:hidden;
}

#slider-wrap ul#slider{
  width:100%;
  height:100%;
  
  position:absolute;
  top:0;
  left:0;   
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  width:600px;
  height:400px; 
}

#slider-wrap ul#slider li > div{
  position:absolute;
  top:20px;
  left:35px;  
}

#slider-wrap ul#slider li > div h3{
  font-size:36px;
  text-transform:uppercase; 
}

#slider-wrap ul#slider li > div span{
  font-family: Neucha, Arial, sans serif;
  font-size:21px;
}

#slider-wrap ul#slider li img{
  display:block;
  width:100%;
  height: 100%;
}


/*btns*/
.btns{
  position:absolute;
  width:50px;
  height:60px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer; 
  background:rgba(0,0,0,0.1);
  z-index:100;
  
  
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btns:hover{
  background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
  top: 30px; 
  right:35px; 
  width:auto;
  position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
  min-width:20px;
  margin-top:350px;
  margin-left: auto; 
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}

#pagination-wrap ul {
  width:100%;
}

#pagination-wrap ul li{
  margin: 0 4px;
  display: inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fff;
  opacity:0.5;
  position:relative;
  top:0;
  
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px; 
}




/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{ color: #666; text-transform:uppercase;  font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;} 




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}


#wrapper{
	transform : scale(1.2);
}













/*-----------------------------------------------*/

.linediv{
	padding: 10px;
	margin:20px auto;
	border: 1px solid #808080;
}

.option{
	margin:10px;
	background: yellow; 
	text-align: center; 
	width: 150px; 
	height: 50px;
	display: inline-block;
}












			