@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/*----------------------
CookTip 게시판 글쓰기폼
-----------------------*/
.cookTip_writeHeader {
	width: 1300px;
	height: 250px;
	margin: 60px auto 0 auto;
	box-sizing: border-box;

	/* TestBackground */
	/* background-color: rgba(211, 23, 111, 0.332);    */
}

.cookTip_writeheaderInnerText {
	width: 1300px;
	height: 100px;
	margin-bottom: 60px;
	padding-left: 20px;
	color: rgb(53, 53, 53);
	box-sizing: border-box;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/* TestBackground */
	/* background-color: rgb(150, 142, 140);    */
}

.cookTip_FadeinText {
	display: none;
}

.cookTip_writeHeaderMenu {
	width: 1300px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid rgb(226, 226, 226);
	/* TestBackground */
	/* background-color: rgb(239, 155, 247);    */
}

.cookTip_writeHeaderMenu>ul li {
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 50px;
	box-sizing: border-box;
	display: inline-block;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

.cookTip_writeHeaderMenu>ul li a:hover {
	cursor: pointer;
	color: #735448;
}

.cookTip_writeBody {
	width: 1300px;
	margin: 0 auto;
	box-sizing: border-box;
	/* TestBackground */
	/* background-color: rgb(215, 141, 230);    */
}

.cookTip_writeBodyHeader {
	width: 120px;
	height: 35px;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	padding-left: 5px;
	margin-bottom: 20px;
	border-bottom: 2px solid rgb(226, 226, 226);
	background-color: #ff9a00;
	box-shadow: 4px 4px 0px #bdbdbd;
	/* TestBackground */
	/* background-color: rgb(219, 219, 254);    */
}

.cookTip_writeBodyHeader-Title {
	color: #ffffff;
	text-shadow: 2px 2px 0px #bdbdbd;
}

.cookTip_subjectTitle {
	width: inherit;
	height: 30px;
	font-size: 18px;
	font-weight: 600;
}

.cookTip_subjectBody {
	width: inherit;
	height: 45px;
	margin-bottom: 20px;
	border: 1px solid rgb(226, 226, 226);
	box-sizing: border-box;
	/* TestBackground */
	/* background-color: rgb(50, 50, 97);    */
}

.cookTip_subjectBody>input {
	width: 100%;
	height: 100%;
	padding-left: 20px;
	box-sizing: border-box;
	border: none;
	/* background-color: antiquewhite; */
}

.cookTip_smallTitle {
	font-weight: 700;
}

.cookTip_subjectBody>input[name="subject"] {
	font-size: 16px;
}

.cookTip_subjectBody>input[name="subject"]:focus {
	outline: none;
	box-shadow: 0 1px 20px rgba(170, 226, 249, 0.687);
}

.cookTip_subjectBody>input:focus {
	outline: none;
	box-shadow: 0 1px 20px rgba(170, 226, 249, 0.687);
}

.cookTip_subjectBody>input::placeholder {
	color: #b1b1b1b1;
}

.cookTip_select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-family: "Noto Sansf KR", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #444;
	background-color: #fff;
	padding: .6em 1.4em .5em .8em;
	margin-bottom: 20px;
	height: 45px;
	box-sizing: border-box;
	border: 1px solid rgb(226, 226, 226);
	border-radius: .5em;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
}

.cookTip_select:hover {
	border-color: #888;
}

.cookTip_select:focus {
	border-color: #aaa;
	box-shadow: 0 1px 20px rgba(170, 226, 249, 0.687);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.cookTip_select:disabled {
	opacity: 0.5;
}

.cookTip_contentBody {
	width: 1300px;
	/*     min-height: 650px; */
	box-sizing: border-box;
	border: 1px solid rgb(226, 226, 226);
	padding-top: 30px;
	margin-bottom: 20px;
	/* TestBackground */
	/* background-color: rgb(147, 147, 174);    */
}

.cookTip_editor-area {
	width: 1200px;
	margin: 10px auto;
}

.cookTip_inputBody1 {
	width: 1200px;
	/*   min-height: 500px; */
	margin: 10px auto;
	/*  overflow: scroll; */
	/* background-color: #ff6347; */
}

.cookTip_inputBody1>textarea[name="content"] {
	width: 99.3%;
	height: 480px;
}

.cookTip_del-btn {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 8px;
}

.cookTip_buttonBoxBody {
	width: 330px;
	height: 50px;
	margin: 80px auto;
	/* TestBackground */
	/* background-color: rgb(89, 89, 179);    */
}

#cookTip_writeSubmit {
	width: 130px;
	height: 40px;
	transition: 0.1s;
	font-size: 16px;
	color: rgb(136, 136, 136);
	background: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.529);
}

#cookTip_CancelSubmit {
	width: 130px;
	height: 40px;
	float: right;
	transition: 0.1s;
	font-size: 16px;
	color: rgb(136, 136, 136);
	background: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.529);
}

#cookTip_CancelSubmit:hover, #cookTip_writeSubmit:hover {
	background: rgba(232, 232, 232, 0.858);
	box-shadow: 0px 0px 10px rgba(0, 94, 157, 0.529);
}

#cookTip_CancelSubmit:active, #cookTip_writeSubmit:active {
	margin-top: 5px;
	transform: scale(0.9);
}

#cookTip_CancelSubmit:focus, #cookTip_writeSubmit:focus {
	outline: none;
}

/*----------------------
CookTip 게시판 리스트폼
-----------------------*/
.cookTip_list-container {
	width: 1300px;
	height: 2000px;
	margin: 0 auto;
	background-color: red;
	display: flex;
	flex-direction: column;
}

.cookTip_list-header {
	min-width: 100%;
	height: 15%;
	background-color: pink;
}

.cookTip_list-header .cookTip_list-banner {
	width: 100%;
	height: 80%;
	background-color: skyblue;
}

.cookTip_list-header .honCooq-tabs {
    box-sizing:border-box;
	width: 90%;
	height: 20%;
	margin-left:5%;
	background-color: orange;
}

.honCooq-tab-button {
	padding: 15px 100px;
	margin: 10px 4px;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	text-decoration: none;
	display: inline-block;
	border:none;
}

.honCooq-tab-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #000;
	-webkit-transform: scaleY(.3);
	transform: scaleY(.3);
	opacity: 0;
	transition: all .3s
}

.honCooq-tab-button:hover {
	color: #6098FF;
}

.honCooq-tab-button:hover::before {
	opacity: 1;
	background-color: #fff;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02),
		opacity .4s;
	transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}

.cookTip_list-body {
	width: 100%;
	height: 85%;
	background-color: yellow;
}

.cookTip_inner-tab {
	box-sizing:border-box;
	width:100%;
	height:5%;
	padding:2%;
	background-color:honeydew;
}

.cookTip_li_category {
	width: 140px;
	height:30px;
	line-height:30px;

	font-size: 1.0rem;
	font-weight:600;
	text-align:center;
	box-sizing:border-box;
	border-right:1px solid black;
	float:left;
}

.cookTip_li_category:first-child {
	margin-left:3%;
}

.cookTip_li_category:last-child {
    border-right:none;
    margin-left:2%;
}

.cookTip_list-dataCount {
}

.cookTip_list {
}

.cookTip_content-box {
}

.cookTip_content {
}

.cookTip_content_info {
}

.cookTip_category {
}

.cookTip_title {
}

.cookTip_data {
}

.cookTip_util {
}
