<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cookTip">
	<insert id="insertCookTip" parameterType="com.sp.app.cook.honCooq.cookTip.CookTip">
		INSERT INTO cookTip(num, userId, subject, content,
			category, register_date, hitCount) VALUES 
			( cookTip_seq.NEXTVAL, #{userId}, #{subject}, #{content},
				#{category}, SYSDATE, 0 )	
	</insert>
</mapper>