<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interiorTip">

	
	<select id="seq" resultType="Integer">
		SELECT lifeTip_seq.NEXTVAL FROM dual
	</select>
	
	<sql id="where-list">
		<choose>
			<when test="condition=='all' ">
				( INSTR(subject, #{keyword}) &gt; 0 
					OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
			</when>
			<when test="condition=='created' ">
				( TO_CHAR(register_date, 'YYYYMMDD') = #{keyword}
					OR TO_CHAR(register_date, 'YYYY-MM-DD') = #{keyword} )
			</when>
					<!-- 날짜에서 - 없애려면 서비스에서 처리하기 -->			
			
			<when test="condition=='content' ">
				DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
			</when>			
			<otherwise>
				INSTR(${condition}, #{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>

	<insert id="insertBoard" parameterType="com.sp.app.interiorTip.InteriorTip">
		insert INTO lifeTip(num, userId, subject , category , content, register_date , hitCount)
			VALUES(#{num}, #{userId}, #{subject}, #{category}, #{content}, SYSDATE , 0)
	</insert>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE lifeTip SET hitCount = hitCount+1 WHERE num=#{num} 
	</update>
	
	<select id="readBoard" parameterType="Integer" resultType="com.sp.app.interiorTip.InteriorTip">
		SELECT num, l.userId, subject , category , content, TO_CHAR(register_date, 'YYYY"년" MM"월" DD"일"') created , hitCount , userName  ,profileImg , profileMsg
		FROM lifeTip l
		LEFT OUTER JOIN (
        SELECT userId , userName 
        FROM member1
        ) m ON l.userId = m.userId
        LEFT OUTER JOIN memberprofile p ON l.userId = p.userId
		WHERE num= #{num}
	</select>
	
	<select id="preReadBoard" parameterType="map" resultType="com.sp.app.interiorTip.InteriorTip">
		SELECT num, subject ,userId
		FROM lifeTip 
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
			AND (num &gt; #{num})
		</where>
		ORDER BY num ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="nextReadBoard" parameterType="map" resultType="com.sp.app.interiorTip.InteriorTip">
		SELECT num, subject
		FROM lifeTip 
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
			AND (num &lt; #{num})
		</where>
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY	
	</select>
	
	<update id="updateBoard" parameterType="com.sp.app.interiorTip.InteriorTip">
		UPDATE lifeTip SET subject=#{subject}, content=#{content} , category=#{category}
			WHERE num=#{num} 
	</update>
	
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM lifeTip WHERE num=#{num}
	</delete>
	
	<insert id="insertReply" parameterType="com.sp.app.interiorTip.InteriorTip">
		INSERT INTO lifeTip(replyNum, num, userId, content, register_date)
			VALUES (lifeTipReply_seq.NEXTVAL, #{num}, #{userId}, #{content}, SYSDATE) 
	</insert>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM lifeTip 
			<where>
				<if test="keyword!=null and keyword!=''">
					<include refid="where-list"/>
				</if>
			</where>
	</select>
	
	<select id="listBoard" parameterType="map" resultType="com.sp.app.interiorTip.InteriorTip"> 
		SELECT num, l.userId, subject, hitCount, TO_CHAR(register_date, 'YYYY-MM-DD') created , category ,userName
		FROM lifeTip l
		LEFT OUTER JOIN (
        SELECT userId , userName 
        FROM member1
        ) m ON l.userId = m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

</mapper>